﻿<div ng-controller="MyUserCtrl as myUserCtrl">
    <h1>Reset Password</h1>
    <form name="GetSecurityQuestionForm">
        <label>Email Address</label>
        <input type="text" ng-model="email"/>
        <input type="submit" text="Hello" ng-click="getSecurityQuestion(email)"/>
    </form>
    <form ng-show="showResetDialog">
        <div>
            <label><b>Security Question: </b></label>
            <i>{{user.securityQuestion}}</i>
        </div>
        <div>
            <label><b>Answer: </b></label>
            <input type="text" ng-model="user.securityAnswer"/>
        </div>
        
        <button ng-click="resetPassword(user)">Submit</button>
    </form>
    <div ng-show="statusMessage.message">
        {{statusMessage.message}}
    </div>
    <div ng-show="passwordResetSuccess">Your password has been reset and your new password emailed to your email address <span ng-model="user.email"></span></div>
</div>
