﻿body {
}

.products {
    float: left;
    width: 300px;
    margin-left: 100px;
}

.cart {
    width: 300px;
    float: right;
    margin-right: 100px;
}

.product-row, .cart-row {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
}

.message {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.total {
    font-size: 20px;
}
