﻿<div ng-controller="ProductCtrl as pvm">
    <div class="message" ng-show="errorMessage">{{errorMessage}}</div>
    <div class="products">
        <h1>Available Products</h1>
        <div ng-show="products">
            <div ng-repeat="product in products">
                <div class="product-row">
                    <div>{{product.name}}</div>
                    <div>Price: ${{product.sellingPrice}}</div>
                    <div>Quantity: {{product.quantity}}</div>
                    <div class="add-to-cart" ng-form="cartform">
                        <input type="number" ng-init="quantity = 1" ng-model="quantity" min="1" max="product.quantity"/>
                        <button ng-click="add(product.id, quantity)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart">
        <h1>Shopping Cart</h1>
        <div ng-show="cart.length == 0">Cart is empty</div>
        <div ng-repeat="item in cart">
            <div class="cart-row">
                <div>{{item.name}}</div>
                <div>Price: ${{item.sellingPrice}}</div>
                <div>Quantity: {{item.orderedQuantity}}</div>
                <button ng-click="removeFromCart(item.id)">Remove</button>
            </div>
        </div>
        <div><span class="total" style="font-weight: bold;">Total</span></div>
        <div class="total">${{total}}</div>
    </div>
</div>
